<%= msg %>
<form action="/send" method="POST">
    <input type="text" name="name" placeholder="Name"><br/>
    <input type="text" name="email" placeholder="Email"><br/>
    <input type="text" name="contactNumber" placeholder="cellphone"><br/>
    <textarea type="text" name="contactForm"></textarea>
    <input type="submit">
</form>